# Desafio 1

### Exercício 1 - Conjectura de Legendre

A Conjectura de Legendre, enunciada por de Adrien-Marie Legendre, afirma que existe sempre um número primo entre $n^2 $ e $(n+1)^2$, para qualquer $n$ inteiro positivo

Seu desafio será criar uma função que, dado um input (inteiro n) retorne todos os números primos entre $n^2$ e $(n+1)^2$. 

Exemplo:

    > input: 4
    
    > output: [17,19,23]

In [2]:
def isprime(n):
    """
    Esta função verifica se um número é ou não primo    
    """        
    if n<=1:
        print('número inválido')
        return False

    elif n >= 2:        
        for i in range(2,n):
            if (n % i) == 0:
                return False
        return True

In [3]:
def LegendreConjecture(n):
    """
    Esta função calcula a conjectura de Legendre, como descrita acima
    """
    n1 = n**2
    n2 = (n+1)**2
    num_primos = []

    for i in range(n**2,((n+1)**2)+1):
        if isprime(i):
            num_primos.append(i)
    return num_primos

In [4]:
#teste
LegendreConjecture(4)

[17, 19, 23]

### Exercício 2

Dada a seguinte string s, escreva uma expressão regular que retorne todos os números de telefone contidos nela.

In [5]:
s = 'Office of Research Administration: (734) 647-6333 | 4325 North Quad \
Office of Budget and Financial Administration: (734) 647-8044 | 309 Maynard, Suite 205 \
Health Informatics Program: (734) 763-2285 | 333 Maynard, Suite 500 \
Office of the Dean: (734) 647-3576 | 4322 North Quad \
UMSI Engagement Center: (734) 763-1251 | 777 North University \
Faculty Adminstrative Support Staff: (734) 764-9376 | 4322 North Quad'

In [6]:
import re

def numeros_tel(s):
    numeros = re.findall(r'\(\d{3}\)\s*\d{3}[-.\s]?\d{4}', s)
    return numeros

num_tel = numeros_tel(s)
print(num_tel)

['(734) 647-6333', '(734) 647-8044', '(734) 763-2285', '(734) 647-3576', '(734) 763-1251', '(734) 764-9376']

### Exercício 3
A distância L2, ou distância Euclidiana, é definida pela seguinte fórmula: 

$L2 = \sqrt{\sum_{i=1}^n (a_i - b_i)^2}$

Escreva uma função que receba dois parâmetros, a e b, e retorne a distância L2 entre eles. a e b precisam ser um numpy.array de mesmo tamanho

In [7]:
def l2_dist(a, b):
    
    if len(a) != len(b):
        print('os arrays precisam ter o tamanho igual')
    pass

    dif = (a - b) ** 2

    soma = np.sum(dif, axis=0)

    dist = np.sqrt(soma)

    return dist

In [8]:
import numpy as np
a = np.array([1,2,4,6])
b = np.array([1,3,5,7])
l2_dist(a,b)

1.7320508075688772

### Exercício 4
Vamos utilizar o dataset breast_cancer_data.csv para fazer uma análise exploratória cujo objetivo é responder a alguns questionamentos que surgiram a respeito desse conjunto.

Vamos começar lendo e entendendo nossos dados:

In [9]:
import pandas as pd
import numpy as np

In [10]:
colunas = ['id','clump_thickness','cell_size_uniformity','cell_shape_uniformity','marginal_adhesion','single_ep_cell_size',
          'bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','class','doctor_name']

data = pd.read_csv('bases/breast_cancer_data.csv',names=colunas)
data.head()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

#### TODO 2.1: entendimento básico dos dados - preencha as lacunas no código a fim de obter o resultado desejado

In [11]:
# quantas linhas e quantas colunas existem no dataset?
lin = data.shape[0]
col = data.shape[1]

print('linhas: ', lin, '\n')
print('colunas: ', col, '\n')

linhas:  699

colunas:  12

In [12]:
# quais os tipos de dados de cada coluna?
tipos = data.dtypes

print('tipos de dados: \n', tipos,'\n')

tipos de dados:
 id                         int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei               object
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
class                     object
doctor_name               object
dtype: object

In [13]:
# quais as principais estatísticas dos dados numéricos do dataset?

for i in data:
    if data[i].dtype == 'int64' or data[i].dtype == 'float64':
        print('\n principais estatísticas: \n Média: ', data[i].mean(), '\n Mediana: ', data[i].median(), '\n Moda: ', data[i].mode())

 principais estatísticas:
 Média:  1071704.0987124464
 Mediana:  1171710.0
 Moda:  0    1182404
Name: id, dtype: int64

 principais estatísticas:
 Média:  4.416905444126074
 Mediana:  4.0
 Moda:  0    1.0
Name: clump_thickness, dtype: float64

 principais estatísticas:
 Média:  3.1375358166189113
 Mediana:  1.0
 Moda:  0    1.0
Name: cell_size_uniformity, dtype: float64

 principais estatísticas:
 Média:  3.207439198855508
 Mediana:  1.0
 Moda:  0    1
Name: cell_shape_uniformity, dtype: int64

 principais estatísticas:
 Média:  2.7939914163090127
 Mediana:  1.0
 Moda:  0    1
Name: marginal_adhesion, dtype: int64

 principais estatísticas:
 Média:  3.216022889842632
 Mediana:  2.0
 Moda:  0    2
Name: single_ep_cell_size, dtype: int64

 principais estatísticas:
 Média:  3.447482014388489
 Mediana:  3.0
 Moda:  0    2.0
Name: bland_chromatin, dtype: float64

 principais estatísticas:
 Média:  2.8681948424068766
 Mediana:  1.0
 Moda:  0    1.0
Name: normal_nucleoli, dtype: float64

 principais estatísticas:
 Média:  1.5894134477825466
 Mediana:  1.0
 Moda:  0    1
Name: mitoses, dtype: int64

#### TODO 2.2: obtendo informações sobre o dataset

retorne uma Serie que mostre qual a classificação (maligno e benigno) que cada médico deu para cada amostra:

In [14]:
# Exemplo de retorno
#  class      doctor_name
#  benign   Dr. Doe        127
#           Dr. Lee        121
#           Dr. Smith      102
#           Dr. Wong       108

In [15]:
# Resposta: 

classificacao = data.groupby(by = ['class','doctor_name']).size().sort_values(ascending = False)
print(classificacao)

class      doctor_name
benign     Dr. Doe        127
           Dr. Lee        121
           Dr. Wong       108
           Dr. Smith      102
malignant  Dr. Smith       74
           Dr. Lee         60
           Dr. Doe         58
           Dr. Wong        49
dtype: int64

#### TODO 2.3: obtendo informações sobre o dataset

In [16]:
# Use o método select_dtypes() para selecionar apenas colunas do tipo float64 e int64. Armazene na variável data_num
data_num = data.select_dtypes(['float64','int64'])
#print(data_num)

#corr
# Encontre as n variáveis que possuem um valor absoluto de correlação maior que 0.5 com a variável clump_thickness, excluindo ela mesma 
# retorne os valores de forma descendente
# sempre utilize a variável data_num para receber o resultado de suas operações

correlacao = data_num.corr(method='pearson')
data_num = correlacao.iloc[1,]
data_num.drop('clump_thickness', axis=0, inplace=True)
data_num = data_num[data_num >= 0.5]
print("Existem {} variáveis correlacionadas com clump_thickness:\n\n{}".format(len(data_num), data_num))

Existem 5 variáveis correlacionadas com clump_thickness:

cell_size_uniformity     0.644636
cell_shape_uniformity    0.654632
single_ep_cell_size      0.522108
bland_chromatin          0.558924
normal_nucleoli          0.535773
Name: clump_thickness, dtype: float64

#### TODO 2.4: obtendo informações sobre o dataset

In [17]:
# qual o tamanho médio das células para cada tipo de tumor?
grupo = data.groupby(by=['class']).mean(numeric_only=True)
grupo = grupo.iloc[[0,1],2]
benigno = grupo.loc['benign']
maligno = grupo.loc['malignant']

print('Tamanho médio do tipo benigno: \n',benigno,'\n') 
print('Tamanho médio do tipo maligno: \n',maligno,'\n')

Tamanho médio do tipo benigno:
 1.3260393873085339

Tamanho médio do tipo maligno:
 6.572614107883817

In [18]:
# qual o número máximo de mitoses em tumores benignos encontrados pelo Dr. Wong?
classe = data['mitoses'][(data['class'] == 'benign') & (data['doctor_name'] == 'Dr. Wong')].max(skipna=True)
print('Número máximo de mitoses em tumores benignos: ', classe)

Número máximo de mitoses em tumores benignos:  3

In [19]:
# e qual o número máximo de mitoses em tumores malignos encontrados pelo mesmo médico?
malignos = data[(data['class'] == 'malignant')]
print('\nNúmero máximo de mitoses em tumores malignos: ', malignos['mitoses'].max(skipna = True))

Número máximo de mitoses em tumores malignos:  10

#### TODO 2.5: filtrando os dados

In [20]:
# Existem três pacientes (id) que aparecem mais que duas vezes no dataset. Retorne uma série ordenada de forma descendente que mostre o
# id do paciente bem como a quantidade de vezes que ele aparece repetido no dataset
duplica_data = data.loc[data['id'].duplicated()].groupby('id').size() + 1
repete_pacientes = duplica_data.loc[duplica_data > 2].sort_values(ascending = False)
#repete_pacientes

# Elimine esses três pacientes do dataframe de modo que este contenha apenas pacientes que apareceram no máximo duas vezes
filtra_pacientes = data.loc[data['id'].isin(repete_pacientes.index)]
pacientes_filtrado = data.loc[~data['id'].isin(repete_pacientes.index)]

#retorne o dataset completo  
pacientes_filtrado

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong